.png {
  width: 100%;
  display: flex;
  position: absolute;
  top: 1.1rem;
  width: 25rem;
  padding-top: 1.7rem;
  justify-content: center;
  z-index: 1;
}

.header {
  background-image: linear-gradient(
    -75deg,
    #ee7752,
    #e73c7e,
    #c179b9,
    #23a6d5,
    #23d5ab
  );
  background-size: 210% 210%;
  animation: headerAnimation 18s ease infinite;
  border-bottom: 3px solid black;
  height: 12rem;
}

.connectButtonDiv {
  padding-top: 2.5rem;
  padding-right: 3rem;
}
.button {
  display: flex;
  justify-content: right;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 750px) {
  .connectButtonDiv {
    padding-top: 1rem;
    padding-right: 0rem;
  }

  .button {
    display: flex;
    justify-content: right;
  }
}

@keyframes headerAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
