.png {
  width: 100%;
  display: flex;
  top: 1.1rem;
  width: 25rem;
  padding-top: 1.7rem;
  justify-content: center;
}

.header {
  background-image: linear-gradient(black, purple, #ff8a8a);
  border-bottom: 3px solid black;
  height: 12rem;
}

.button {
  display: flex;
  justify-content: right;
}
.connectButtonDiv {
  padding-top: 2.5rem;
  padding-right: 3rem;
}
.button {
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 750px) {
  .connectButtonDiv {
    padding-top: 1rem;
    padding-right: 0rem;
  }

  .button {
    display: flex;
    justify-content: right;
  }
}
