.text {
  padding-top: 2rem;
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 750px) {
  .text {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
